body{
	font: 12px Arial;
	margin: 0;
}

header{
	font-size: 20px;
	text-align: center;
	margin-top: 15px;
	padding: 15px;
}
h2{
	text-align: center;
}

#locations{
    border: 1px solid red;
    overflow: auto;
}

#map-canvas { 
	height: 600px;
	width: 600px; 	
	margin: 0; 
	padding: 0;
	float: left;
	border: 1px solid blue;
}

#loc-descrip{
	padding: 0;
	margin: 20px;
	float: right;
	border: 1px solid green;
}

#collection{
	height: 600px;
	border: 1px solid blue;
}

#table_id{

}


