body{
	background-color: Snow;
	color: #8A8A8A;
	font: 12px courier;
}

header,
footer,
#description,
#disclaimer{
	width: 700px;
	font-family: courier;
	display: block;
	margin: auto;
}


header{
	height: 100px;
	font-size: 40px;
	border-bottom: 2px dashed; 
	text-align: center;
	padding-bottom: 20px;
	padding-top: 40px;
}

footer{
	height: 20px;	
	font-size: 16px;
	text-align: center;
	padding-top: 40px;
}

p{
	line-height: 20px;
}

.link {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 2px;
}

g.plot line{
	stroke-width: 2px;
	stroke: black;
}

.node circle{
	border: 3px dashed; 
}

.node text{
	font: 12px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text{
	font: 11px courier;
	padding: 5px;
}

.labels{
	width: 9em;
	word-break: keep all;
}

.circle:hover {
  fill: red;
}

#disclaimer,
#description{
	height: 350px;
	font-size: 12px;
}

#svg1{
	background-color: white;
	border: 1px dotted;
}

#BookTable{
	margin: auto;
	margin-top: 30px; 
}

#svg1{
	display: block;
	margin: auto;
	padding: 30px;
}
#svg2{
	padding: 50px;
}

#showtext,
#ylabel,
#xlabel{
	padding: 10px;
	margin-top: 10px;
	font: 16px courier;
	font-weight: bold;
	text-align: center;
}

.tooltip,
#tooltip {
  line-height: 1;
  padding: 12px;
  background: #000000;
  color: #FFFFFF;
  border-radius: 2px;
}

#treetooltip{
	line-height: 1;
	padding: 12px;
	border: 1px dotted silver;
	font: 12px courier;
}
